---
title: Authority Verification
weight: 7
---

# Authority Verification

See [Verify Trusted Controller Authority](/docs/use-cases/verify-trusted-controller-authority/).
